/*Footer*/

footer {
    min-height: 100px;
    p {
        color: white;
        text-align: center;
        #iconos {
            font-size: 26px;
            padding: 0 8px;
            i {
                color: white;
            }
        }
    }
}